// VARIABLES SECTION
$helveticaneue: 'Helvetica Neue', sans-serif // Helvetica Neue font-family
$cormorant: 'Cormorant Garamond', serif // Cormorant font-family
$primary-font-size: 14px // Body font-size
$primary-color: #000000 // Primary color
$white-color: #FFFFFF // White color
$background-color: #FBFBFB // Background color
$red-color: #FF0000 // Red color
$error-color: #FF3F3F // Error (red) color
$brown-color: #710202 // Brown color
$accent-yellow-color: #FFF596 // Accent yellow color
$light-yellow-color: #FCF7F1 // Light yellow color
$light-grey-color: #F7F7F7 // Light grey color
$light-grey-hover-color: #FDFBF8 // Light grey hover color
$dark-gray-color: #979797 // Dark gray color
$gray-color: #E0E0E0 // Gray color
$light-gray-color: #DDDDDD // Light gray color
$dull-gray-color: #656565 // Dull gray color
$boulder-color: #767676 // Boulder color
$copyright-color: #ABABAB // Copyright color
$copyright-light-color: #A6A6A6 // Copyright light color
$asphalt-color: #4D4D4D // Asphalt color
$black-color: #343434 // Black color
$yellow-color: #F3E6D3 // Yellow color

// COMMON DOCUMENT STYLES
body
    position: relative
    overflow-x: hidden
    font-family: $helveticaneue
    color: $primary-color
    line-height: 1.2

ul,
ol,
li
    display: block
    padding: 0
    margin: 0
    list-style: none

h1, h2, h3, h4, h5, h6
    margin: 0

p
    margin: 0

a
    display: inline-block
    color: inherit
    transition: all 0.4s
    &:hover
        color: inherit
        text-decoration: none

img
    max-width: 100%

svg path,
    transition: fill 0.4s, stroke 0.4s

// COMMON FOR PAGE ˆ
.scroll-disabled
    overflow: hidden

.container
    padding: 0 10px
    margin: 0 auto
    max-width: 1220px

.link
    padding: 10px 20px
    font-size: 12px
    font-weight: 400
    letter-spacing: 1px
    text-align: center
    text-transform: uppercase
    &:hover,
    &:focus
        background: $light-grey-color
    &--bg
        background: $light-yellow-color
        &:hover,
        &:focus
            background: $light-grey-hover-color
    &--accent-bg
        background: $accent-yellow-color
        &:hover,
        &:focus
            background: $light-grey-hover-color
    &--black
        color: $white-color
        background: $black-color
        &:hover,
        &:focus
            color: $white-color
            background: $primary-color
    &--thin
        font-weight: 100
    &--lg
        padding: 15px 25px

.share
    display: block
    padding: 0
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase
    color: $brown-color
    background: transparent
    border: 0
    &::before
        content: ''
        display: inline-block
        margin-top: -2px
        margin-right: 10px
        width: 14px
        height: 14px
        vertical-align: middle
        background-image: url(../img/dist/sprite.svg#icon-gift-box)
        background-repeat: no-repeat
        background-size: cover
        background-position: center center

.btn
    padding: 14px
    font-size: 12px
    font-weight: 500
    letter-spacing: 2px
    text-align: center
    text-transform: uppercase
    color: $white-color
    background: $primary-color
    border: 1px solid transparent
    transition: color 0.4s, background 0.4s, border 0.4s
    &:hover
        color: $primary-color
        background: transparent
        border: 1px solid $primary-color
    &--border
        color: $primary-color
        background: transparent
        border: 1px solid $primary-color
        &:hover
            color: $white-color
            background: $primary-color
    &--sm
        padding: 9px
    &--lg
        padding: 14px 36px

.btn[disabled]
    color: $copyright-color
    background: $light-grey-color
    &:hover
        color: $copyright-color
        background: $light-grey-color
        border: 1px solid transparent

.input
    display: block
    appearance: none
    padding: 18px 22px
    font-size: 14px
    color: $primary-color
    background: transparent
    border: 0
    border-radius: 0
    transition: border 0.4s
    &::placeholder
        color: $boulder-color
    &:focus
        outline: none

.input-shell
    position: relative
    display: block
    margin-bottom: 0
    &__input
        display: block
        padding: 10px 34px 10px 10px
        width: 100%
        font-size: 12px
        font-weight: normal
        text-align: left
        text-transform: uppercase
        color: $primary-color
        background: $light-grey-color
        border: 0
        border-radius: 0
        appearance: none
        transition: all 0.4s
        &::placeholder
            color: $dark-gray-color
        &--transparent
            background: transparent
            border: 1px solid $light-grey-color
            &:focus
                outline: none
                border: 1px solid $primary-color
    &__icon
        position: absolute
        top: 50%
        right: 12px
        transform: translateY(-50%)
        display: block
        padding: 0
        width: 12px
        height: 12px
        vertical-align: middle
        background-image: url(../img/dist/sprite.svg#icon-search-grey)
        background-repeat: no-repeat
        background-size: cover
        background-position: center center

.input-group
    position: relative
    &--error
        .input-group
            &__input
                color: $error-color
                border-bottom: 1px solid $error-color
                &:focus
                    border-bottom: 1px solid $error-color
            &__label
                color: $error-color
    &__input
        display: block
        appearance: none
        padding: 0 0 5px
        font-size: 18px
        color: $primary-color
        background: transparent
        border: 0
        border-bottom: 1px solid $copyright-color
        border-radius: 0
        transition: border 0.4s
        &::-webkit-input-placeholder
            opacity: 0
        &::-moz-placeholder
            opacity: 0
        &:focus + label,
        &:not(:placeholder-shown) + label
            transform: translate(-17%, -22px) scale(0.65)
            & > span
                opacity: 0
            & + .input-group__eye
                opacity: 1
        &:focus
            outline: none
            border-bottom: 1px solid $primary-color
        &--error
            border-bottom: 1px solid $error-color
    &__label
        position: absolute
        top: 0
        left: 0
        margin: 0
        font-size: 18px
        color: $copyright-color
        cursor: text
        transition: all 0.4s
        span
            transition: opacity 0.2s
        &--active
            transform: translate(-15%, -22px) scale(0.65)
    &__eye
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        display: block
        padding: 0
        width: 18px
        height: 18px
        font-size: 0
        opacity: 0
        background-color: transparent
        background-image: url(../img/dist/sprite.svg#icon-password-eye)
        background-repeat: no-repeat
        background-size: 85%
        background-position: center right
        border: 0
        transition: opacity 0.4s
    &__error
        position: absolute
        bottom: -5px
        transform: translateY(100%)
        font-size: 9px
        color: $error-color

.select
    appearance: none
    padding: 0 0 5px
    font-size: 18px
    color: $copyright-color
    background-color: transparent
    background-image: url(../img/dist/sprite.svg#icon-caret)
    background-repeat: no-repeat
    background-size: 12px
    background-position: top 50% right 0
    border: 0
    border-bottom: 1px solid $copyright-color
    border-radius: 0
    cursor: pointer
    transition: border 0.4s
    &.is-selected
        color: $asphalt-color
    &:focus
        outline: none
        border-bottom: 1px solid $primary-color

.section-heading
    font-family: $cormorant
    font-size: 36px
    font-weight: normal
    text-align: center

.close-btn
    display: block
    padding: 0
    font-size: 0
    width: 12px
    height: 12px
    background-color: transparent
    background-image: url(../img/dist/sprite.svg#icon-close)
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    border: 0

.square-checkbox
    display: flex
    align-items: center
    margin: 0
    cursor: pointer
    &--md
        .square-checkbox
            &__icon
                margin-right: 15px
                min-width: 18px
                min-height: 18px
                max-width: 18px
                max-height: 18px
                background-size: 12px
            &__label
                font-size: 14px
    &--radio
        .square-checkbox
            &__input
                &:checked ~ .square-checkbox__icon
                    background-image: none
                    &::before
                        background: $black-color
            &__icon
                position: relative
                margin-right: 20px
                min-width: 24px
                min-height: 24px
                max-width: 24px
                max-height: 24px
                background-size: 12px
                border: 1px solid $black-color
                &::before
                    content: ''
                    display: block
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    width: 18px
                    height: 18px
            &__label
                font-size: 18px
                color: $black-color
    &__input
        display: none
        &:checked ~ .square-checkbox__icon
            background-image: url(../img/dist/sprite.svg#icon-checkbox-mark-black)
            border: 1px solid $black-color
            & + .square-checkbox__label
                color: $black-color
    &__icon
        display: block
        margin-right: 10px
        min-width: 14px
        min-height: 14px
        max-width: 14px
        max-height: 14px
        background-color: transparent
        background-repeat: no-repeat
        background-size: 8px
        background-position: center center
        border: 1px solid $copyright-color
    &__label
        display: block
        font-size: 12px
        font-weight: normal
        text-align: left
        color: $copyright-color
        user-select: none
        &--color
            display: flex
            align-items: center
    &__color
        display: block
        margin-right: 10px
        width: 16px
        height: 16px
        border-radius: 50%

.circle-checkbox
    display: flex
    align-items: center
    margin: 0
    cursor: pointer
    &__input
        display: none
        &:checked ~ .circle-checkbox__icon
            &::before
                background: $primary-color
    &__icon
        position: relative
        display: block
        margin-right: 10px
        min-width: 20px
        min-height: 20px
        max-width: 20px
        max-height: 20px
        background-color: transparent
        border: 1px solid $primary-color
        border-radius: 50%
        &::before
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 14px
            height: 14px
            border-radius: 50%
    &__label
        display: block
        font-size: 14px
        font-weight: normal
        text-align: left
        color: $primary-color
        user-select: none

.sort
    position: relative
    display: flex
    align-items: center
    &__help
        display: block
        font-size: 12px
        font-weight: normal
        letter-spacing: 1px
        text-transform: uppercase
        color: $black-color
    &__selected
        display: block
        margin-left: 8px
        overflow-y: hidden
        width: fit-content
        font-size: 12px
        letter-spacing: 1px
        text-transform: uppercase
        cursor: pointer
        &::after
            content: ''
            display: inline-block
            margin-top: -2px
            margin-left: 6px
            width: 10px
            height: 10px
            vertical-align: middle
            background-image: url(../img/dist/sprite.svg#icon-caret-black)
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            transition: transform 0.2s
        &--active
            &::after
                transform: rotate(-180deg)
    &__container
        position: absolute
        top: 24px
        right: 0
        z-index: 1
        display: none
        overflow: hidden
        width: 260px
        background: $white-color
        box-shadow: 0px 20px 45px rgba(14, 21, 33, 0.2)
        transition: all 0.4s
        &--active
            display: block
    &__option
        padding: 14px 18px
        width: 100%
        transition: background 0.4s
        &:hover
            background: $light-grey-hover-color
    &__radio
        display: none
        &:checked
            & ~ .sort__label::before
                background: $primary-color
    &__label
        position: relative
        display: block
        padding-left: 32px
        margin: 0
        font-size: 14px
        font-weight: 300
        margin: 0
        cursor: pointer
        &::before
            content: ''
            position: absolute
            top: 50%
            left: 4px
            transform: translateY(-50%)
            display: block
            width: 14px
            height: 14px
            border-radius: 50%
        &::after
            content: ''
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            display: block
            width: 22px
            height: 22px
            border: 1px solid $primary-color
            border-radius: 50%

// MEDIA QUARIES
@media (min-width: 1200px)
    .container
        padding: 0 15px