.top-promo
    position: relative
    z-index: 1001
    padding: 10px 0
    text-align: center
    background: $light-yellow-color
    &--hidden
        display: none
    &__wrapper
        position: relative
        display: flex
        align-items: center
        justify-content: center
    &__text
        font-size: 14px
        letter-spacing: 1px
        strong
            font-weight: 500
    &__timer
        display: inline-block
        padding: 5px
        margin-left: 2px
        color: $white-color
        background: $primary-color
    &__close
        position: absolute
        top: 50%
        right: 10px
        transform: translateY(-50%)

.header
    overflow: hidden
    min-height: 180px
    &__wrap
        position: relative
        top: 0
        right: 0
        left: 0
        z-index: 100
        background: $white-color
        transform: translate3d(0px, 0px, 0px)
        &--hidden
            position: fixed
            transform: translate3d(0px, -100%, 0px)
        //&--active
        //    position: fixed
        //    transform: translate3d(0px, 0px, 0px)
        //    transition: all 0.2s ease-in-out
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 10px 0
    &__control
        display: flex
        align-items: center

.subheader
    position: relative
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 10px 0

.logotype
    max-width: 234px
    width: 100%
    img
        width: 100%
    
.section
    &__list
        display: flex
        align-items: center
    &__item
        &--active
            .section__link
                background: $light-yellow-color
                &:hover,
                &:focus
                    background: $light-grey-hover-color
    &__item + &__item
        margin-left: 10px
    &__link
        padding: 10px 20px
        font-size: 12px
        font-weight: 500
        letter-spacing: 1px
        text-transform: uppercase
        &:hover,
        &:focus
            background: $light-grey-color

.icons
    display: flex
    align-items: center
    &__item + &__item
        margin-left: 10px
    &__link
        display: block
        width: 24px
        height: 24px
        font-size: 0
        background-repeat: no-repeat
        background-size: cover
        background-position: center center

.personal-area
    margin-left: 10px

.nav
    &__list
        display: flex
        align-items: center
    &__link
        margin: 5px
        letter-spacing: 1px
        text-transform: uppercase
        border-bottom: 1px solid transparent
        transition: border 0.5s
        &:hover,
        &:focus
            text-decoration: none
        &:focus
            outline: none

.submenu
    display: none
    &--active
        display: block
    &__back
        padding: 14px 10px
        width: 100%
        font-size: 12px
        &::before
            content: ''
            display: inline-block
            margin-top: -2px
            margin-right: 6px
            width: 10px
            height: 10px
            vertical-align: middle
            background-image: url(../img/dist/sprite.svg#icon-arrow-back)
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
    &__list
        display: none
        &--active
            display: block
    &__item
        border-top: 1px solid $light-grey-color
    &__link
        padding: 14px 10px
        width: 100%
        font-size: 12px
        letter-spacing: 1px
        text-transform: uppercase
        &--dropdown
            position: relative
            &::after
                content: ''
                position: absolute
                top: 50%
                right: 10px
                transform: translateY(-50%)
                display: inline-block
                width: 12px
                height: 10px
                background-image: url(../img/dist/sprite.svg#icon-dropdown-arrow)
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
                transition: transform 0.25s

.header-brand
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    &__list
        display: flex
        align-items: center
    &__item
        &:hover
            .header-brand__link
                border-bottom: 1px solid $primary-color
            & > .categories
                display: block
    &__link
        padding: 5px 15px
        font-size: 12px
        font-weight: bold
        text-transform: uppercase
        border-bottom: 1px solid transparent
        &:hover
            border-bottom: 1px solid $primary-color

.hamburger
    display: inline-block
    position: relative
    padding: 0
    margin: 0 0 0 -10px
    min-width: 36px
    min-height: 36px
    max-width: 36px
    max-height: 36px
    font-size: 0
    text-align: center
    background: none
    border: none
    cursor: pointer
    &:focus
        outline: none
    &--active
        .hamburger__inner
            &:first-child
                top: 10px
                transform: rotate(45deg)
                width: 0
                opacity: 0
            &:nth-child(2)
                width: 0
                opacity: 0
            &:last-child
                top: 10px
                transform: rotate(-45deg)
                width: 0
                opacity: 0
    &__inner
        display: block
        position: absolute
        left: 10px
        width: 18px
        height: 1px
        background: $primary-color
        transition: all 0.5s ease-in-out
        &:first-child
            top: 12px
        &:nth-child(2)
            top: 18px
        &:last-child
            top: 24px

.mobile-nav
    position: fixed
    left: 0
    right: 0
    bottom: 0
    z-index: 900
    background: $white-color
    border-top: 1px solid $background-color
    border-bottom: 1px solid $background-color
    &__list
        display: flex
        align-items: center
        justify-content: space-around
        padding: 14.25px 10px
    &__item
        text-align: center
    &__link
        font-size: 10px
        font-weight: 500
        span
            display: block
            margin-top: 5px

.search
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1001
    overflow: hidden
    max-height: 0
    width: 100%
    height: 100%
    background: $white-color
    transition: all 0.5s ease-in-out
    &--active
        max-height: 640px
        .search__icon
            &::before
                right: calc(100% - 20px)
                transition: all 0.6s ease 0.1s
        .search__container
            opacity: 1
            visibility: visible
            transition: all 0.6s ease 0.6s
    &__icon
        display: block
        position: absolute
        top: 45px
        left: 50%
        transform: translateX(-50%)
        z-index: -1
        padding: 0 10px
        margin: 0 auto
        max-width: 1220px
        width: 100%
        height: 24px
        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            right: 283px
            transform: translateX(100%)
            z-index: 1
            display: block
            min-width: 24px
            min-height: 24px
            max-width: 24px
            max-height: 24px
            background-image: url(../img/dist/sprite.svg#icon-search)
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            transition: all 0.4s ease-in-out 0s
    &__container
        margin: 0 auto
        max-width: 1220px
        opacity: 0
        visibility: hidden
        transition: all 0.3s ease-in-out 0s
    &__container + &__container
        &::before
            content: ''
            position: absolute
            right: 0
            left: 0
            display: block
            width: 100%
            height: 1px
            background: $light-gray-color
    &__control
        position: relative
        display: flex
        align-items: center
        padding: 0 20px
        margin-top: 16.5px
        //&::before
        //    content: ''
        //    position: absolute
        //    top: 28px
        //    right: 249px
        //    z-index: 1
        //    display: block
        //    min-width: 24px
        //    min-height: 24px
        //    max-width: 24px
        //    max-height: 24px
        //    background-color: #fff
        //    background-image: url(../img/dist/sprite.svg#icon-search)
        //    background-repeat: no-repeat
        //    background-size: cover
        //    background-position: center center
    &__input
        padding: 30px 20px 30px 44px
        width: 100%
        font-size: 18px
        font-weight: 500
        letter-spacing: 1px
        color: $black-color
        &::placeholder
            color: $light-gray-color
    &__close
        display: block
        padding: 0
        background-color: transparent
        border: 0
    &__content
        padding: 30px 20px
    &__wrapper
        display: flex
    &__block
        width: 100%
        &:first-child
            max-width: 262px
    &__block + &__block
        margin-left: 60px
    &__title
        margin-bottom: 34px
        font-size: 14px
        font-weight: 500
        letter-spacing: 2px
        text-transform: uppercase
    &__list
        overflow: hidden
        min-width: 262px
        max-height: 370px
    &__item + &__item
        margin-top: 20px
    &__link
        max-width: 262px
        font-size: 14px
        span
            color: $dark-gray-color
    &__products
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        overflow: hidden
        max-height: 338px
    &__product
        display: flex
        align-items: center
        width: 45%
        &:nth-child(n + 3)
            margin-top: 30px
    &__img
        overflow: hidden
        margin-right: 20px
        max-width: 62px
        max-height: 62px
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__more
        display: block
        margin-top: 40px
        width: fit-content
        font-size: 14px
        color: $dark-gray-color
    &__description
        font-size: 20px
    &__help
        display: block
        margin-top: 30px
        font-size: 14px
        font-weight: 300
        color: $dark-gray-color
        a
            border-bottom: 1px solid $dark-gray-color

.basket-modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    z-index: 1011
    transform: translateX(100%)
    opacity: 0
    overflow: hidden
    visibility: hidden
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 488px
    height: 100vh
    background: $white-color
    transition: all 0.4s ease-in-out
    &--active
        transform: translateX(0)
        opacity: 1
        visibility: visible
        transition: transform 0.4s ease-in-out, opacity 0.2s, visibility 0.2s
    &__empty
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 0 86px
        height: 100%
        background: #FCF7F1
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        padding: 24px 20px
    &__title
        font-size: 18px
        font-weight: 500
        letter-spacing: 2px
    &__products
        padding: 30px 25px
        overflow-y: scroll
        height: 100%
        border-top: 1px solid $light-grey-color
    &__product
        display: flex
        justify-content: space-between
    &__product + &__product
        margin-top: 32px
    &__img
        overflow: hidden
        margin-right: 20px
        max-width: 82px
        max-height: 82px
        width: 100%
        height: 100%
        img
            width: 82px
            height: 82px
            object-fit: cover
    &__img + &__group
        width: 100%
    &__group
        display: flex
        flex-direction: column
        justify-content: space-between
    &__name
        font-family: $cormorant
        font-size: 24px
        font-weight: normal
    &__description
        overflow: hidden
        margin-top: 4px
        height: 59px
        font-size: 12px
        color: $dark-gray-color
    &__price
        display: block
        font-size: 18px
        font-weight: 500
        white-space: nowrap
    &__delete
        display: block
        padding: 0
        margin-top: 14px
        margin-left: auto
        min-width: 24px
        min-height: 24px
        max-width: 24px
        max-height: 24px
        background-color: transparent
        background-image: url(../img/dist/sprite.svg#icon-trash)
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        border: 0
    &__bottom
        padding: 12px 20px
        border-top: 1px solid $light-grey-color
    &__total
        display: flex
        align-items: center
        justify-content: space-between
        padding: 16px 20px
        margin: 0 -20px
        background: $light-yellow-color
    &__summary
        display: flex
        align-items: center
        &::before
            content: ''
            display: block
            width: 28px
            height: 28px
            background-image: url(../img/dist/sprite.svg#icon-basket)
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
        .basket-modal__text
            margin-left: 10px
            max-width: 93px
    &__text
        display: block
        font-size: 12px
        &--light
            font-weight: 300
            letter-spacing: 1px
    &__down-payment
        margin: 20px 0
    &__inner
        display: flex
        align-items: center
        justify-content: space-between
        &--end
            justify-content: flex-end
        .basket-modal__text + .basket-modal__text,
        .basket-modal__text + .basket-modal__price
            margin-left: 6px
    &__inner + &__inner
        margin-top: 2px
    &__btn
        padding: 17px
        width: 100%
    &__reserve
        margin-left: 16px
        padding: 18px
    &__help
        display: block
        margin-top: 15px
        font-size: 10px
    &__payment
        margin-top: 25px
        .payment__list
            justify-content: center

.basket-btn
    position: relative
    &--amount
        position: absolute
        bottom: -4px
        right: -4px
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        min-width: 16px
        min-height: 16px
        max-width: 16px
        max-height: 16px
        width: 100%
        height: 100%
        font-size: 8px
        text-align: center
        line-height: 1
        white-space: nowrap
        color: $white-color
        background: $primary-color
        border-radius: 50%

.categories
    position: absolute
    top: 35px
    right: 0
    left: 0
    z-index: 10
    display: none
    width: 100vw
    background: $white-color
    &:hover
        display: block
    &__wrapper
        display: flex
        justify-content: space-between
        padding: 25px 10px 25px 20px
    &__title
        margin-bottom: 20px
        font-size: 14px
        font-weight: 500
    &__inner
        width: 100%
        &:first-child
            margin-right: 10px
            max-width: 180px
        &--double
            .categories__item
                width: 45%!important
    &__list
        &--flex
            display: flex
            flex-wrap: wrap
            .categories__item + .categories__item
                margin-top: 0
                margin-left: 5%
            .categories__item
                width: 30%
                color: $boulder-color
                &:nth-child(3n + 1)
                    margin-left: 0
                &:nth-child(n + 4)
                    margin-top: 10px
        &--primary
            .categories__link
                font-weight: 500
    &__item + &__item
        margin-top: 10px
    &__link
        font-size: 12px
        font-weight: normal
        letter-spacing: 1px
    &__more
        font-size: 12px
        text-decoration: underline
        color: $primary-color
        &:hover
            color: $primary-color
    &__img
        overflow: hidden
        margin-left: 40px
        max-width: 400px
        max-height: 366px
        min-width: 400px
        min-height: 366px
        width: 100%
        height: 100%
        background: $copyright-light-color
        img
            width: 400px
            height: 366px
            object-fit: cover

// MEDIA QUARIES
@media (hover: hover)
    .nav
        &__link
            &:hover,
            &:focus
                border-bottom: 1px solid $primary-color

@media (min-width: 1024px)
    .header
        &__wrapper
            padding: 35px 0
        &__control
            padding: 5px 0
    .subheader
        &__wrapper--top
            padding: 16px 0
    .section
        &--mobile
            display: none
    .nav
        &__item--accent
            .nav__link
                font-weight: 500
        &__item + &__item
            margin-left: 10px
        &__link
            font-size: 12px
            font-weight: normal
    .hamburger,
    .mobile-menu
        display: none

@media (min-width: 1024px) and (max-width: 1199px)
    .header-brand
        &__link
            padding: 5px 12px

@media (max-width: 1023px)
    .subheader
        &__wrapper--top
            display: none
    .mobile-menu
        display: flex
        align-items: flex-start
        flex-direction: column
        position: fixed
        top: 0
        left: 0
        z-index: 1011
        transform-origin: left top
        transform: scale(0)
        overflow: hidden
        visibility: hidden
        width: 340px
        height: 100%
        opacity: 0
        background: $white-color
        transition: all 0.5s ease-in-out
        &--open
            transform: scale(1)
            visibility: visible
            opacity: 1
        &__top
            display: flex
            align-items: center
            justify-content: space-between
            padding: 10px
            width: 100%
        &__close
            position: relative
            display: block
            padding: 0
            margin: 0
            min-width: 40px
            min-height: 40px
            max-width: 40px
            max-height: 40px
            font-size: 0
            text-align: center
            background-color: transparent
            border: none
            cursor: pointer
            &--inner
                display: block
                position: absolute
                top: 50%
                left: 50%
                width: 18px
                height: 1px
                background: $primary-color
                transition: all 0.5s ease-in-out
                &:first-child
                    transform: translate(-50%, -50%) rotate(45deg)
                &:last-child
                    transform: translate(-50%, -50%) rotate(-45deg)
        &__appraisal
            display: block
            padding: 12px 28px
            margin-left: 10px
            width: 100%
            font-size: 14px
            text-align: center
        &__content
            margin-top: 5px
            width: 100%
            height: calc(100vh - 60px)
            overflow-x: hidden
            overflow-y: scroll
        &__search
            margin: 0 10px 12px
        &__contacts
            padding: 25px 0
            width: 100%
        &__phone
            display: block
            font-size: 18px
            font-weight: 500
            text-align: center
    .logotype
        max-width: 161px
    .nav
        width: 100%
        &__list
            flex-direction: column
            align-items: flex-start
        &__item
            width: 100%
            &--accent
                .nav__link
                    font-weight: 500
        &__item + &__item
            border-top: 1px solid $light-grey-color
        &__link
            padding: 14px 10px
            margin: 0
            width: 100%
            font-size: 12px
            font-weight: normal
            letter-spacing: 1px
            &--dropdown
                position: relative
                &::after
                    content: ''
                    position: absolute
                    top: 50%
                    right: 10px
                    transform: translateY(-50%)
                    display: inline-block
                    width: 12px
                    height: 10px
                    background-image: url(../img/dist/sprite.svg#icon-dropdown-arrow)
                    background-repeat: no-repeat
                    background-size: cover
                    background-position: center center
                    transition: transform 0.25s
            &--active
                &::after
                    transform: translateY(-50%) rotate(-90deg)
    .section
        width: 100%
        &--desktop
            display: none
        &__list
            justify-content: space-between
        &__item
            width: 100%
            &--active
                .section__link
                    font-weight: 500
                    border: 1px solid transparent
        &__item + &__item
            margin-left: 0
        &__link
            padding: 10px
            width: 100%
            font-weight: normal
            text-align: center
            border: 1px solid $light-grey-color
    .icons
        &__item + &__item
            margin-left: 25px
        &__link
            width: 18px
            height: 18px
    .personal-area
        display: none
    .header-brand
        &__list
            &--sm
                .header-brand__link
                    padding: 5px
        &__link
            padding: 5px 9px
    .categories
        &__wrapper
            padding: 24px 0
        &__inner
            width: 100%
            &:first-child
                margin-right: 10px
                max-width: 110px
        &__title
            margin-bottom: 16px
            font-size: 12px
        &__link
            font-size: 11px
        &__img
            margin-left: 20px
            max-width: 300px
            max-height: 266px
            min-width: 300px
            min-height: 266px
            img
                width: 300px
                height: 266px

@media (min-width: 992px)
    .mobile-nav
        display: none

@media (min-width: 768px) and (max-width: 1023px)
    .search
        &__icon
            top: 19px
            height: 18px
            &::before
                right: 115px
                min-width: 18px
                min-height: 18px
                max-width: 18px
                max-height: 18px
        &__control
            margin-top: 0
        &__input
            padding: 18.5px 20px 18.5px 34px
            font-size: 16px
        &__close
            min-width: 18px
            min-height: 18px
            max-width: 18px
            max-height: 18px

@media (min-width: 768px) and (max-width: 991px)
    .search
        &--active
            .search__icon
                &::before
                    right: calc(100% - 10px)
        &__control
            padding: 0 10px
        &__content
            padding: 30px 10px
        &__product
            width: 100%
        &__product + &__product
            margin-top: 30px
    .basket-modal
        width: 444px
        &__top
            padding: 20px 24px
        &__title
            font-size: 18px
        &__products
            padding: 15px 24px
        &__name
            font-size: 20px
        &__description
            font-size: 10px
        &__price
            font-size: 16px
        &__delete
            min-width: 22px
            min-height: 22px
            max-width: 22px
            max-height: 22px
    .basket-btn
        &--amount
            min-width: 14px
            min-height: 14px
            max-width: 14px
            max-height: 14px

@media (max-width: 767px)
    .header
        .icons__item
            &:nth-child(2)
                display: none
    .top-promo
        padding: 15px 0
        &__wrapper
            padding: 0 32px
        &__timer
            margin-top: 5px
            margin-left: 0
    .mobile-menu
        width: 80%
        &__top
            .logotype
                margin-left: auto
    .section
        &__link
            font-size: 11px
    .nav
        &__link
            padding: 18px 12px
            margin: 0
            font-size: 11px
            border-bottom: 1px solid $light-grey-color
    .subheader
        &__wrapper--bottom
            display: none
    .search
        top: 0
        overflow-y: scroll
        &--active
            max-height: 100vh
            max-height: var(--vh)
            .search__icon
                &::before
                    right: calc(100% - 10px)
        &__icon
            top: 19px
            height: 18px
            &::before
                right: 71.5px
                min-width: 18px
                min-height: 18px
                max-width: 18px
                max-height: 18px
        &__container
            padding: 0
        &__control
            padding: 0 10px
            margin-top: 0
            //&::before
            //    min-width: 18px
            //    min-height: 18px
            //    max-width: 18px
            //    max-height: 18px
        &__input
            padding: 21px 20px 21px 32px
            font-size: 12px
        &__content
            padding: 20px 0
        &__wrapper
            flex-direction: column
        &__block
            padding: 0 10px
        &__title
            margin-bottom: 20px
            font-size: 12px
        &__item + &__item
            margin-top: 15px
        &__link
            font-size: 12px
        &__block
            &:first-child
                max-width: 100%
        &__block + &__block
            padding-top: 20px
            margin-top: 20px
            margin-left: 0
            border-top: 1px solid $light-gray-color
        &__products
            max-height: 100%
        &__product
            width: 100%
        &__product + &__product
            margin-top: 15px
        &__img
            max-width: 42px
            max-height: 42px
        &__more
            padding: 20px 10px 0
            margin: 25px -10px 0
            width: calc(100% + 20px)
            border-top: 1px solid $light-gray-color
        &__description
            margin-top: 20px
            font-size: 16px
        &__help
            margin-top: 24px
            font-size: 12px
    .basket-modal
        width: 100%
        &__top
            padding: 20px 10px
        &__title
            font-size: 14px
        &__products
            padding: 15px 20px 15px 15px
        &__name
            font-size: 20px
        &__description
            font-size: 10px
        &__price
            font-size: 16px
        &__delete
            min-width: 22px
            min-height: 22px
            max-width: 22px
            max-height: 22px
        &__bottom
            padding: 15px 10px
    .basket-btn
        &--amount
            right: -3px
            bottom: -3px
            min-width: 12px
            min-height: 12px
            max-width: 12px
            max-height: 12px
            font-size: 6px