@media (hover: hover)
    .recommendation
        &__button
            &:hover
                color: $white-color
                background: $primary-color

@media (min-width: 1200px)
    // PRODUCT
    .product
        &__left
            width: 670px
        &__right
            width: 450px

@media (max-width: 1199px)
    // RESERVE
    .reserve
        &__timing
            & > *:not(span)
                display: none

@media (min-width: 1024px) and (max-width: 1199px)
    .content
        margin-right: 12.5px
        margin-left: 12.5px

@media (max-width: 1023px)
    // CABINET
    .cabinet
        &__list
            display: none
        &__content
            margin-left: 0

    .product
        &__more
            &--badge
                padding: 12px
                &::before
                    display: none

@media (min-width: 992px) and (max-width: 1199px)
    // PRODUCT
    .product
        &__left
            width: 540px
        &__right
            width: 415px
        &__bid
            margin-left: 10px
            margin-right: 0
    
    .product__slider
        .gallery-thumbs
            margin-right: 20px
    
    // GOODS
    .goods
        &__state
            padding: 10px
            width: 100%

@media (min-width: 992px)
    // CATALOG
    .catalog
        &__mobile-btn
            display: none
    
    // MOBILE SORT
    .mobile-sort
        display: none
    
    // FILTER
    .filter
        &__back,
        &__bottom
            display: none
        &__item
            &--plus
                .filter__btn
                    padding: 20px 0 20px 34px
                    font-weight: bold
                    &::before
                        content: ''
                        position: absolute
                        top: 50%
                        left: 0
                        transform: translateY(-50%)
                        display: block
                        width: 18px
                        height: 2px
                        background: $primary-color
                    &::after
                        content: ''
                        position: absolute
                        top: 50%
                        left: 8px
                        transform: translateY(-50%)
                        display: block
                        width: 2px
                        height: 18px
                        background: $primary-color
                        transition: transform 0.35s
            &--active
                .filter__btn
                    &::after
                        transform: translateY(-50%) rotate(90deg)

@media (max-width: 991px)
    // AUTH
    .auth
        &__left
            display: none
        &__right
            width: 100%
    
    // CATALOG
    .catalog
        &__sidebar
            width: 0
        &__content
            margin-left: 0
        &__title
            margin-bottom: 8px
        &__top
            flex-wrap: wrap
            padding-bottom: 0
            border-bottom: 0
            .sort
                display: none
        &__text
            margin-bottom: 14px
            width: 100%
            text-align: center
        &__mobile-btn
            display: block
            appearance: none
            padding: 10px
            margin: 0 auto
            width: 50%
            font-size: 12px
            text-align: center
            text-transform: uppercase
            background: transparent
            border: 0
            border-radius: 0
        &__mobile-btn + &__mobile-btn
            border-left: 1px solid $light-gray-color
    
    // SELECTED FILTERS
    .selected-filters
        display: none

    // MOBILE SORT
    .mobile-sort
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1001
        display: none
        overflow-y: scroll
        background: $white-color
        &--active
            display: block
        &__back
            position: relative
            display: block
            padding: 15px 0
            font-size: 16px
            font-weight: normal
            letter-spacing: 0.01em
            text-align: center
            text-transform: uppercase
            &::before
                content: ''
                position: absolute
                top: 50%
                left: 14px
                transform: translateY(-50%)
                display: inline-block
                width: 16px
                height: 16px
                vertical-align: middle
                background-image: url(../img/dist/sprite.svg#icon-arrow-back)
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
        &__list
            padding: 0 14px
            overflow-y: scroll
            max-height: calc(100% - 84px - 49px)
            border-top: 1px solid $light-grey-color
        &__checkbox
            padding: 5px 0
            margin-top: 20px
        &__bottom
            position: fixed
            right: 0
            bottom: 0
            left: 0
            display: flex
            align-items: center
            justify-content: center
            padding: 10px 20px 20px
            background: $white-color
        &__button
            &.btn:not(.btn--border)
                min-width: 150px
                background: $black-color
                &:hover
                    background: transparent
            &.btn--border
                min-width: 120px
        &__button + &__button
            margin-left: 9px

    // FILTER
    .filter
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1001
        display: none
        overflow-y: scroll
        padding-bottom: 130px
        background: $white-color
        &--active
            display: block
        &__back
            position: relative
            display: block
            padding: 15px 0
            font-size: 16px
            font-weight: normal
            letter-spacing: 0.01em
            text-align: center
            &::before
                content: ''
                position: absolute
                top: 50%
                left: 14px
                transform: translateY(-50%)
                display: inline-block
                width: 16px
                height: 16px
                vertical-align: middle
                background-image: url(../img/dist/sprite.svg#icon-arrow-back)
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
        &__search
            margin: 15px
        &__item:not(.filter__item--plus)
            display: none
        &__item
            &--plus
                max-height: 50px
                border-top: 1px solid $light-grey-color
                &:last-child
                    border-bottom: 1px solid $light-grey-color
                .filter__btn
                    padding: 15px
                    font-size: 12px
                    font-weight: normal
                    &::after
                        content: ''
                        position: absolute
                        top: 50%
                        right: 15px
                        transform: translateY(-50%) rotate(180deg)
                        display: inline-block
                        width: 12px
                        height: 12px
                        vertical-align: middle
                        background-image: url(../img/dist/sprite.svg#icon-arrow-back)
                        background-repeat: no-repeat
                        background-size: cover
                        background-position: center center
                        transition: transform 0.4s
            &--active
                .filter__btn
                    &::after
                        transform: translateY(-50%) rotate(270deg)
        &__btn + &__link
            position: absolute
            right: 45px
        &__bottom
            position: fixed
            right: 0
            bottom: 0
            left: 0
            display: flex
            align-items: center
            flex-wrap: wrap
            padding: 10px 20px 20px
            background: $white-color
        &__mobile-count
            display: block
            margin-bottom: 32px
            width: 100%
            font-size: 12px
            text-transform: uppercase
            color: $dark-gray-color
            text-align: center
        &__button
            &.btn:not(.btn--border)
                width: 54%
                background: $black-color
                &:hover
                    background: transparent
            &.btn--border
                width: 43%
        &__button + &__button
            margin-left: 3%

@media (min-width: 768px) and (max-width: 991px)
    // PRODUCT
    .product
        &__left
            width: 50%
        &__right
            margin-left: 5%
            width: 45%
        &__wrapper
            &--mobile-wrap
                align-items: flex-start
                flex-direction: column
        &__block
            width: 100%
            &--full
                margin-top: 25px
                margin-bottom: 0
                order: 1
                width: fit-content
        &__status
            padding: 6.5px 15px
        &__id
            margin-top: 25px
            order: 2
        &__name
            font-size: 24px
        &__description
            font-size: 14px
        &__bid
            margin-top: 25px
        &__help + &__info
            margin-top: 25px
        &__text:not(:first-child)
            font-size: 12px
        &__subtitle,
        &__subdescription
            font-size: 12px
        &__item
            font-size: 12px
    
    .product__slider
        .gallery-thumbs
            position: absolute
            z-index: 10
            width: 63px
            height: 325px
        .gallery-thumbs .swiper-slide
            width: 63px
            height: 63px
        .swiper-img
            picture img
                width: 45px
                height: 45px
                opacity: 0.75
    
    // STATE
    .state
        &__item
            font-size: 10px

    // BANNERS
    .banners
        &__item
            &:first-child
                padding-bottom: 385px
                .banners__content
                    max-width: 638px
            &:nth-child(n + 2)
                margin-top: 18px
        &__title
            font-size: 72px
        &__subtitle
            font-size: 54px
        &__title + &__description,
        &__subtitle + &__description
            margin-top: 16px
        &__description
            font-size: 28px

    // CTA
    .cta
        &__title
            font-size: 26px
        &__group + &__group
            margin-left: auto
            max-width: 335px
    .cta-form
        &__control
            min-width: 100%

@media (min-width: 768px)
    // PRODUCT
    .product
        &__wrapper
            &--desktop-hidden
                display: none
    
    // GOODS
    .goods--sm
        .goods__item
            margin-right: 5%
            width: 30%
            &:nth-child(3n)
                margin-right: 0
            &:nth-child(n + 4)
                margin-top: 50px

@media (max-width: 767px)
    .content
        margin: 20px 0

    // PRODUCT
    .product
        flex-direction: column
        &__left,
        &__right
            width: 100%
        &__slider
            margin-top: 24px
        &__copyright
            display: none
        &__wrapper
            &--mobile-hidden
                display: none
            &--desktop-hidden
                margin-top: 0
        &__block
            width: 100%
            &--full
                margin-top: 25px
                margin-bottom: 0
                order: 1
                width: fit-content
        &__status
            padding: 6.5px 15px
        &__id
            margin-top: 25px
            order: 2
    .product__slider
        .gallery-thumbs
            display: none
    
    // GOODS
    .goods
        &--sm
            .goods__item
                max-width: 100%
                width: 50%
                &:nth-child(n + 3)
                    margin-top: 50px
    
    // AUTH
    .auth
        &__title
            font-size: 18px
        &__subtitle
            font-size: 16px
    
    // CABINET
    .cabinet
        &__list
            width: 100%
            &--active
                display: block
        &__item
            padding-bottom: 15px
            text-align: left
            border-bottom: 1px solid $light-grey-color
        &__item + &__item
            margin-top: 15px
        &__button
            font-size: 14px
            font-weight: normal
            letter-spacing: 1px
        &__inner
            justify-content: center
            flex-wrap: wrap
            &--mobile-bd
                border-bottom: 0
        &__title
            position: relative
            width: 100%
            font-size: 18px
            font-weight: normal
            text-align: center
        &__title:not(.cabinet__title--mobile)
            &::before
                content: ''
                position: absolute
                top: 50%
                left: 0
                transform: translateY(-50%)
                display: inline-block
                width: 20px
                height: 20px
                vertical-align: middle
                background-image: url(../img/dist/sprite.svg#icon-arrow-back)
                background-repeat: no-repeat
                background-size: cover
                background-position: center center
        &__group
            flex-direction: column
            margin-top: 20px
            width: 100%
            .share
                padding-bottom: 10px
                width: 100%
                border-bottom: 1px solid $light-grey-color
            .sort
                margin: 10px 0 0
    
    // RESERVE
    .reserve
        &__item
            flex-direction: column
            align-items: center
        &__item + &__item
            .reserve__timing
                top: 32px
        &__img
            max-width: 100px
        &__content
            margin-top: 10px
            margin-left: 0
            text-align: center
        &__price
            margin-top: 9px
        &__inner
            flex-direction: column
            margin-top: 12px
        &__info
            margin-top: 12px
            margin-left: 0
        &__timing
            position: absolute
            top: 0
            left: 0
        &__block
            position: static
            transform: none
            & > .reserve__timing
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                flex-direction: column
                padding: 6px 13px
                margin: 49px auto
                span
                    margin-left: 0
            & > .reserve__info
                margin: 0
                text-align: center
        &__controls
            flex-direction: column-reverse
        &__control + &__control
            margin-bottom: 20px
            margin-left: 0

    // BANNERS
    .banners
        &__item
            &:first-child
                padding-bottom: 298px
                .banners__content
                    max-width: 75%
            &:nth-child(n + 2)
                padding-bottom: 234px
                width: 100%
        &__item + &__item
            margin-top: 12px
        &__title
            font-size: 32px
        &__subtitle
            font-size: 32px
        &__title + &__description,
        &__subtitle + &__description
            margin-top: 16px
        &__description
            font-size: 22px
    
    // RECOMMENDATION
    .recommendation
        &__list
            justify-content: space-between
            overflow-x: scroll
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
        &__button
            padding: 6px 14.5px
            font-size: 10px
        &__btn
            padding: 15px 18px
            font-size: 12px

    // CTA
    .cta
        padding: 20px 0
        margin-top: 40px
        &__wrapper
            flex-direction: column
        &__group
            width: 100%
        &__group + &__group
            margin-top: 34px
        &__title
            margin-bottom: 25px
            font-size: 26px
        &__block
            max-width: 50%
            &:nth-child(2n)
                margin-left: 0
        &__value
            font-size: 16px
        &__copyright
            max-width: 254px
            font-size: 12px
    .cta-form
        &__control
            max-width: 360px
            min-width: auto
            width: 100%

    // SITE DESCRIPTION
    .site-description
        margin: 30px 0
        &__title
            font-size: 26px
        &__description
            font-size: 14px
        &__link
            font-size: 14px

    // PROMOCODE
    .promocode
        &__input
            font-size: 12px
            &:focus + label,
            &:not(:placeholder-shown) + label
                transform: translate(-24%, -22px) scale(0.5)

@media (min-width: 576px) and (max-width: 991px)
    .content
        margin-right: 11.5px
        margin-left: 11.5px

    // AUTH
    .auth
        max-width: 90%
    
    // RESERVE
    .reserve
        &__item
            padding-bottom: 24px
        &__item + &__item
            padding-top: 20px

@media (min-width: 576px) and (max-width: 767px)
    // PRODUCT
    .product
        &__bid
            margin-left: auto
            margin-right: 0

@media (max-width: 575px)
    // PRODUCT
    .product
        &__favorites
            margin-right: 10px
            & > svg
                width: 26px
                height: 22px
            & > span
                margin-left: 6px
                font-size: 16px
        &__slider
            margin: 24px -10px 0
        &__name
            font-size: 24px
        &__description
            font-size: 14px
        &__title,
        &__trigger
            font-size: 14px
        &__address
            font-size: 12px
        &__help
            text-align: center
        &__bid
            margin-left: auto
            margin-right: 0
        &__info
            font-size: 12px
        &__text:not(:first-child)
            font-size: 12px
        &__subtitle,
        &__subdescription
            font-size: 12px
        &__item
            font-size: 12px
    
    // GOODS
    .goods
        &__item
            padding: 5px
        &__img
            max-width: 90%
            margin: 0 auto
        &__title
            font-size: 18px
        &__description
            font-size: 10px
        &__state
            padding: 6px 9px
            width: fit-content
            font-size: 8px
        &__status
            padding: 2.5px 10px
            font-size: 14px
        &__favorites
            & > svg
                width: 20px
                height: 20px
            & > span
                font-size: 12px
            &:active
                & > span
                    -webkit-text-stroke: 0.8px
            &--active
                & > span
                    -webkit-text-stroke: 0.8px
    
    // STATE
    .state
        &__item
            font-size: 10px
    
    // TABS
    .tabs
        &__list
            width: 100%
        &__item
            width: 100%
        &__button
            padding: 10px 12.5px
            width: 100%
    
    // SELL BANNER
    .sell-banner
        &__title
            font-size: 24px
        &__description
            margin: 15px 0
            font-size: 12px
    
    // AUTH
    .auth
        max-width: 100%
        height: 100vh
        height: calc(var(--vh, 1vh) * 100)
        &__wrapper
            margin: 45px auto 25px
            max-width: 270px
            width: 100%
        &__close
            top: 25px
            right: 25px
        &__description
            text-align: left
    .auth-form
        &--sm
            margin: 35px 0 36px
        &__inner--column
            flex-direction: column
            .input-group
                &:first-child,
                &:last-child
                    width: 100%
            .input-group + .input-group
                margin-top: 29px
        &__description
            font-size: 11px
    
    // CABINET
    .cabinet
        margin: 25px 0
    
    // PROFILE
    .profile
        &__inner
            flex-direction: column
            .input-group + .input-group
                margin-top: 36px
                margin-left: 0
        &__btn
            margin: 0 auto
    
    // RESERVE
    .reserve
        &__item
            padding-bottom: 12px
        &__item + &__item
            padding-top: 10px
            .reserve
                &__timing,
                &__controls
                    top: 10px
        &__timing
            padding: 2.5px 5px

    // CATALOG
    .catalog
        &__title
            font-size: 16px
        &__text
            font-size: 8px

    // CTA
    .cta
        &__btn
            padding: 12px

@media (max-width: 459px)
    // PRODUCT
    .product
        &__wrapper
            &--mobile-wrap
                justify-content: center
                flex-direction: column
            &--justify-center
                justify-content: center
        &__bid
            margin-top: 25px
            margin-left: 0

// HEIGHT
@media (max-height: 729px)
    // AUTH
    .auth
        &__wrapper
            overflow-y: scroll
            &::-webkit-scrollbar
                display: none